{% extends 'base.html' %}
{% load static %}
{% block page_title %}{{ profile_user.username }}: Edit Profile{% endblock %}

{% block content %}
<article>
  <h1 class="page-headline">{{ profile_user.username }}: Edit Profile</h1>
  <form id="user-profile-edit-form" name="user-profile-edit-form" action="{% url 'user_profile_update' profile_user.id %}" method="POST">
    {% csrf_token %}
    <label for="user-email">Email:</label>
    <input type="email" id="user-email" name="email" form="user-profile-edit-form" value="{{ profile_user.email }}">
    <label for="user-bio">Bio:</label>
    <textarea id="user-bio" name="bio" form="user-profile-edit-form">{{ profile_user.bio }}</textarea>
    {% if profile_user.profile.img_src %}
    <input type="hidden" id="user-img-src" name="img-src" form="user-profile-edit-form" value="{{ profile_user.profile.img_src }}"> 
    {% else %} 
    <input type="hidden" id="user-img-src" name="img-src" form="user-profile-edit-form" value="{% static 'images/profile-placeholder.png' %}"> 
    {% endif %}
    <button type="submit" id="user-profile-edit-submit" name="user-profile-edit-submit" form="user-profile-edit-form">SUBMIT</button>
  </form>
</article>
{% endblock %}