{% extends 'base.html' %}
{% load static %}
{% block page_title %}User Log-In{% endblock %}


{% block content %}
<h1 class="page-headline">User Log-In</h1>
<form id="user-login-form" name="user-login-form" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="form-submit" form="user-login-form" value="login">Log In</button>
    <input type="hidden" name="next" value="{{ next }}"><br>
  <p>Don't have an account? <a href="{% url 'signup' %}?next={{ next }}">Sign up here!</a></p>
</form><br>

{% if request.GET.next %}<div>{{ request.GET.next }}</div>{% endif %}

{% endblock %}
