{% extends 'base.html' %}
{% load static %}
{% block page_title %}Open Face Sandwich{% endblock %}

{% block content %}
<section id="app-description" class="even">
    <article class="text-align-center">
        
        <p>Have you ever noticed a stranger's nose and thought, "I want that. That's a sexy nose!"</p>

            <p>Have you ever seen your forehead in the mirror and thought, "Wow, that's big!"</p>

            <p>Have you ever looked at your lips and wished they were more plum and luscious?</p>

            <p>Well, here's the app for you!</p>

            <p>Bring sexy back with</p>

            <h1 class="page-headline">Open FACE Sandwich!</h1>
            <img src="{% static 'images/homepage-example.jpg' %}">
            <p>We're not swiping right on profiles. This isn't Tinder. This is better!</p>
            <p>Once you find the perfect face, share it on your profile and be amazed by how many visits you get!</p>
    </article>
</section>
<section id="featured-sandwiches" class="odd ">
    <article>
        <h2 class="text-align-center">Featured Sandwiches</h2>
    </article>
</section>
<section id="team-bios" class="even">
    <article>
        <h2 class="text-align-center">Team Bios</h2>
    </article>
</section>
{% endblock %}