{% extends 'base.html' %}
{% load static %}
{% block page_title %}Open Face Sandwich{% endblock %}

{% block content %}
<h1 class="page-headline">Open FACE Sandwich</h1>
<section id="app-description" class="even">
    <article>
        <p>Cupcake ipsum dolor sit amet oat cake fruitcake. Lollipop I love pie. Powder chocolate bar I love lollipop cheesecake jelly-o. 
            Pudding oat cake lollipop dragée chocolate cake tart dragée I love. Powder tiramisu wafer I love sweet tootsie roll powder. 
            I love jelly beans halvah candy canes tiramisu cheesecake liquorice cupcake sweet. 
            Bonbon muffin toffee gingerbread bear claw tootsie roll cake candy bonbon.</p>

            <p>I love icing carrot cake lollipop brownie topping I love topping. Cupcake dessert chupa chups lemon drops. 
                Lollipop cake halvah tootsie roll cupcake chupa chups tootsie roll. 
                Sugar plum jelly beans chocolate wafer oat cake icing jelly-o caramels. 
                Dessert gummi bears cheesecake chocolate toffee soufflé pastry powder bonbon. 
                Brownie soufflé gingerbread cake gummies. Dragée pie biscuit carrot cake icing pastry jelly-o. 
                Tart muffin I love topping cotton candy gummi bears brownie.</p>
            
            <p>Gingerbread caramels cake candy gummies gummi bears sweet candy canes pudding. 
                Cake danish pudding jelly-o fruitcake icing cheesecake. Danish jelly topping bonbon jelly dragée fruitcake powder. 
                I love topping I love marzipan macaroon dessert pie chocolate. I love jelly beans jujubes I love pudding donut dessert. 
                Topping bear claw ice cream bonbon biscuit jelly beans sugar plum.</p>
    </article>
</section>
<section id="featured-sandwiches" class="odd ">
    <article>
        <h2 class="text-align-center">Featured Sandwiches</h2>
    </article>
</section>
<section id="team-bios" class="even">
    <article>
        <h2 class="text-align-center">Team Bios</h2>
    </article>
</section>
{% endblock %}