/* With thanks to https://css-tricks.com/simplifying-css-cubes-custom-properties/ */
img{
  max-width: 100%;
}

#photo-btn-outer {
  position: relative;
  z-index: 1;
  margin: 3rem 0 -1em;
}

.scene, 
.scene *{
  font-size: min(5.5vmin, 50px);
}
.scene{
  height: 19em;
  perspective: 50em;
  width: 100%;
  margin: -2em auto -0.5em;
}
.cubes {
  transform: rotateX(-4deg);
  transform-style: preserve-3d;
}

.cube,
.cube-face{
   position: absolute 
}

.cube {
  top: 8.243em;
  left: 50%;
  transform-style: preserve-3d;
  transform: rotateY(-9deg);
  transition: transform 0.5s;
  --cube-height: 5.05em;
  --cube-width: 10em;
  --cube-half-width: 5em;
  --neg-cube-half-width: -5em;
}
.cube:nth-child(2){
  top: 13.5em;
  --cube-height: 3.52em;
}
.cube:nth-child(3){
  top: 17.25em;
  --cube-height: 4.03em;
}

.cube-face {
  margin: var(--neg-cube-half-width);
  height: var(--cube-height);
  width: var(--cube-width);
  --i: 0;
  transform: 
    rotate3d(var(--i, 0), var(--j, 1), 0, var(--a, 0deg)) 
    translateZ(var(--tz, var(--cube-half-width)));
  background: #f8de90;
  overflow: hidden;
}

.cube-face:nth-child(2) { --a: 90deg }
.cube-face:nth-child(3) { --a: 180deg }
.cube-face:nth-child(4) { --a: 270deg }

.cube-face:nth-child(n + 5) {
  --i: 1;
  --j: 0;
  --a: 90deg;
  --tz: var(--cube-half-width);
  height: var(--cube-width);
  background: radial-gradient(#000000a1, #00000038);
  background-color: #f8de90;
}
.cube-face:nth-child(6) { --tz: -0.04em }

.cube:nth-child(3) .cube-face:nth-child(6){
  background-color: transparent;
  filter: blur(0.5em);
}

/* Arrows */
.arrs{
  position: absolute;
  top: 5em;
  right: 0;
  left: 0;
}
.arr{
  font-size: 1rem;
  position: absolute;
  background: transparent;
  padding-top: 2em;
  padding-bottom: 2em;
}
.arr-forward{
  right: 5vw;
}
.arr-back{
  left: 3vw;
}
.arrs:nth-child(2){
  top: 10em;
}
.arrs:nth-child(3){
  top: 14em;
}
form {
  position: relative;
  z-index: 1;
}