{% extends '../base.html' %}
{% load static %}
{% block page_title %}Sandwich: {% endblock %}

{% block content %}
<h2 class="pageSubtitle">Sandwich: </h2>
    <img class="sandwich-top" src="{{ sandwich.top.top }}">
    <img class="sandwich-middle" src="{{ sandwich.middle.middle }}">
    <img class="sandwich-bottom" src="{{ sandwich.bottom.bottom }}">
    <br><br>
    Creator: <a href="/users/{{ sandwich.user.id }}">{{sandwich.user}}</a>
    <br><br>
  {% if user.id == user_id %}
    <a href="/sandwiches/{{ sandwich_id }}/{{ top_id }}/{{ middle_id }}/{{ bottom_id }}/edit"><button>Edit</button></a>
    <a href="/sandwiches/{{ sandwich_id }}/delete"><button>Delete</button></a>
  {% endif %}

{% endblock %}