{% extends '../base.html' %}
{% load static %}
{% block page_title %}Sandwich {{ sandwich.id }}: Detail{% endblock %}

{% block content %}
<article>
  <h1 class="page-headline">Sandwich {{ sandwich.id }}: Detail</h1>
  <div>
    <img src="{{ sandwich.thumbnail }}">
  </div>
    <br><br>
    Creator: <a href="/users/{{ sandwich.user.id }}">{{sandwich.user}}</a>
    <br><br>
    {% if user.id == sandwich.user.id %}
    <a class="button" href="/sandwiches/{{ sandwich_id }}/profile_photo/">Set As Profile Photo</a>
    <a class="button" href="/sandwiches/{{ sandwich_id }}/{{ top_id }}/{{ middle_id }}/{{ bottom_id }}/edit">Edit</a>
    <a class="button" href="/sandwiches/{{ sandwich_id }}/delete">Delete</a>
  {% endif %}
</article>
{% endblock %}