{% extends '../base.html' %}
{% load static %}
{% block page_title %}Sandwich Workshop{% endblock %}

{% block add_to_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/workshop.css' %}">
{% endblock add_to_head %}

{% block content %}
<h1 class="page-headline">Sandwich Workshop</h1>
<div>
    <a href="{% url 'photo_new' %}" class="button">Add a photo</a>
</div>
<p hidden="true" id='top-list'> {{ top_string }}</p>
<p hidden="true" id='middle-list'>{{ middle_string }}</p>
<p hidden="true" id='bottom-list'>{{ bottom_string }}</p>
<p hidden="true" id="top-id">{{ top_id }}</p>
<p hidden="true" id="middle-id">{{ middle_id }}</p>
<p hidden="true" id="bottom-id">{{ bottom_id }}</p>
<p hidden="true" id="sandwich-id">{{ sandwich_id }}</p>

    <button id="top-backward-arrow"> &larr; </button>
    <img id="top-array-output" src="">
    <button id="top-forward-arrow"> &rarr; </button>

    <button id="middle-backward-arrow"> &larr; </button>
    <img id="middle-array-output" src="">
    <button id="middle-forward-arrow"> &rarr; </button>

    <button id="bottom-backward-arrow"> &larr; </button>
    <img id="bottom-array-output" src="">
    <button id="bottom-forward-arrow"> &rarr; </button>

<div class="scene">
    <div class="cubes">
        <div class="cube">
            <div class="cube-face"></div>
            <div class="cube-face"></div>
            <div class="cube-face"></div>
            <div class="cube-face"></div>
            <div class="cube-face"></div>
        </div>
        <div class="cube">
            <div class="cube-face"></div>
            <div class="cube-face"></div>
            <div class="cube-face"></div>
            <div class="cube-face"></div>
            <div class="cube-face"></div>
        </div>
        <div class="cube">
            <div class="cube-face"></div>
            <div class="cube-face"></div>
            <div class="cube-face"></div>
            <div class="cube-face"></div>
            <div class="cube-face"></div>
        </div>
    </div>
</div>

    <form id="form" action="#" method="POST">
        {% csrf_token %}
        <button type="submit">Amazing Sandwich - Save it!</button>
    </form>
    
    <script src="{% static 'js/toggle.js' %}"></script>


{% endblock %}